@font-face {
    font-family: 'monofur';
    src: URL('monofur.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monofur;
    font-size: 1.4em;
    color: #1F1F55;
}

body {
    background-color: #faaaaa;
}

a {
    color: #faaaaa;
}

a:hover {
    text-decoration: underline;
    color: aquamarine;
}

.content {
    position: relative;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 80vw;
    max-width: 1600px;
    min-height: 100%;
    margin: auto;
    background-color: white;
}

#eggz-header {
    padding-top: 10vh;
    align-self: center;
}

#eggz-header img {
    justify-self: center;
    width: 35vw;
    height: auto;
}

#eggz-body {
    width: 60vw;
    height: auto;
    margin: auto;
    margin-top: 5vh;
}

#group-info {
    margin-top: 5vh;
    width: 22vw;
    max-width: 220px;
    float: left;
    padding: 0.2em;
    background-color: floralwhite;
    border-radius: 0.2em;
}

#eggz-tagline {
    width: 33vw;
    float:right;
}

#email {
    bottom: 0;
    float: bottom;
    height: 10vh;
}

#l {
    float: left;
}

#r {
    float: right;
}

@media only screen and (max-width: 600px) {
    html, body {
        font-size: 1.15em;
    }
    .content {
        width: 90vw;
    }

    #group-info {
        width: 100%;
        margin-right: 10%;
        padding: 0.2em;
        background-color: floralwhite;
        border-radius: 0.2em;
    }

    #eggz-tagline {
        width: 80%;
        float: center;
        text-align: center;
        justify-self: center;
    }

}